{% load blog_tags wagtailcore_tags wagtailimages_tags %}



<center><h1 class="w-100">{{ self.title }}</h1></center>

{% for card in self.cards %}
    {% image card.image width-1500 as image %}
    <div class="card col-4" style="width: 18rem;margin-right: 15px">
        <img src="{{ image.url }}" class="card-img-top" alt="{{ image.title }}">
        <div class="card-body">
            <a href="{{ card.button_page.url }}"><h5 class="card-title">{{ card.title }}</h5></a>

            <p class="card-text">{{ card.text }}</p>
            {% if card.button_page %}
            <a href="{{ card.button_page.url }}" class="btn btn-primary">{{ card.button_page }}</a>
            {% elif card.button_url %}
            <a href="{{ card.button_url }}" class="btn btn-primary">{{ card.button_url }}</a>
            {% endif %}
        </div>
    </div>
{% endfor %}






